#tb-forum-main {
	
}

#tb-premain-content {
	position: absolute;
	left: 0px;
	top:0px;
	z-index: 10;
    margin-top:100px;
    width: 100%;
    text-align: center;
}

#tb-premain-bgimg-cycle {
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	margin-top: 0px;
}

#tb-premain-bgimg-cycle img{
	background-size:cover;
	wdith: 120%;
	height: auto;
	position:absolute;
	overflow: hidden;
	z-index:1;
}

#tb-premain-bgimg-cycle img.active {
	z-index: 3;
}

/* Forum */
#tb-forum-sidebar {
	padding: 0px;
	padding-top: 15px;
}

#tb-forum-sidebar, #tb-forum-sidebar a{
    padding-left:0px;
}

