{% extends "qishi/base.html" %}


{% load qishi_filters %}


{% block title %}Qishi - Forum{% endblock %}


{% block header %}
  <link href="/static/css/django_bootstrap_markdown.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav">
            {# {% if categories %} #}
                {% for category in categories %}
                    <li><span>{{ category.name }}</span></li>  
                    {% for forum in category.forum_set.all %}
                    <li><a href="{% url 'qishi.views_forum.display_forum' forum_id=forum.id%}">{{ forum.name }}</a></li>
                    {% endfor %}
                {% endfor %}
            {# {% endif %} #}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block footer_script %}
<script type="text/javascript">
    $( "#navitem-forum" ).addClass("active")
</script>
{% endblock %}
