{% load qishi_filters %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Django Bootstrap Markdown Test Application</title>

  <!-- Bootstrap -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  ![endif]-->
</head>
<body>

    <div style="margin-left:100px">
        <p><a href="{% url 'qishi.views.home' %}">Back to homepage</a>.</p>

        {% if posts %}
        <p>
            {% for p in posts %}
            <table border="1">
            <tr>
                <td> <a href="{% url 'accounts.views.profile' user_id=p.posted_by.pk %}">{{ p.posted_by }}</a> said:</td>
                <td> <a href="{% url 'qishi_delete_post' post_id=p.id %}" onclick="return confirm('Do you want to delete it?')">Delete</td>
            </tr>
            <tr>
                <td colspan="2">{{ p.message|text_markdown|safe }}</td>
            </tr>
            </table>
            <br/>
            {% endfor %}
        </p>
        {% endif %}
    </div>
    
<p>(@ToDo) the page import django_bootstrap_markdown.css as hard coded html, should use static</p>
<link href="/static/css/django_bootstrap_markdown.css" type="text/css" media="all" rel="stylesheet">
</body>
</html>