{% extends "qishi/base.html" %}

{% load qishi_filters %}
{% load staticfiles %}

{% block title %}Qishi - {{forum.name}}{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'qishi/css/qishi_main.css' %}">
{% endblock %}

{% block body %}
<!-- Page Content -->
<div class="container" style="margin-top:70px;" id="tb-forum-main">

    <!--Nav Bar -->
    <nav class="col-sm-3 tb-docs-sidebar">
        <ul id="sidebar" class="nav nav-stacked fixed">
            {% for category in categories %}
            <li>
                <a href="#">{{ category.name }}</span></a>
                <ul class="nav nav-stacked">
                    {% for forum in category.forum_set.all %}
                    <li>
                        <a href="{% url 'qishi.views_forum.display_forum' forum_id=forum.id%}">
                            {{ forum.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </nav>
    
    <!--Main Content -->
    <div class="col-sm-9">

        <p style="text-align:right;">
            <a class="btn btn-primary btn-sm" href="{% url 'qishi.views_forum.new_post' forum_id=forum_id%}">New Post</a>
        </p>

        <p>
            <div class="panel panel-default">
                {% if topics %}    
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th class="hidden-xs">Created at</th>
                            {% if user.is_staff %}
                            <th class="hidden-xs">Options</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% load pagination_tags %}
            		{% autopaginate topics FORUM_PAGE_SIZE %}  
            		{% paginate %}
                        {% for topic in topics %}
                        <tr>
                            <!-- ID -->
                            <td>{{ forloop.counter }}</td>

                            <!-- Title -->
                            <td><a href="{% url 'qishi.views_forum.topic' topic_id=topic.id %}">{{topic.subject}}</a></td>

                            <!-- Author -->
                            <td><a href="{% url 'accounts.views.profile' user_id=topic.posted_by.pk %}">{{ topic.posted_by }}</a></td>

                            <!-- Date/Time -->
                            <td class="hidden-xs"><span class="glyphicon glyphicon-time"></span> {{ topic.created_on|date:"Y-m-d H:i" }}</td>

                            <!-- Options -->
                            {% if user.is_staff %}
                            <td class="hidden-xs"><a href="{% url 'qishi.views_forum.delete_topic' topic_id=topic.id %}" onclick="return confirm('Do you want to delete it?')">Delete</a></td>
                            {% endif %}
                         </tr>              
                        {% endfor %} <!-- topics -->
                    </tbody>
                </table>
            </div>
        </p>

        <p>
            

            {% else %}
                <p>There's no post yet</p>
            {% endif %}
        </p>

    </div>

</div>

<!-- (@ToDo) the page import django_bootstrap_markdown.css as hard coded html, should use static -->
<link href="/static/css/django_bootstrap_markdown.css" type="text/css" media="all" rel="stylesheet">

{% endblock %}


{% block footer_script %}
<script type="text/javascript">
$( document ).ready(function(){

    $( "#navitem-forum" ).addClass("active");

    
});
</script>
{% endblock %}